/* *{width: 100vw;
filter: invert(0);
background: blue;
} */
@font-face {
    font-family: "Inter";
    src: local("Inter"), local("InterBold"),
        url(./fonts//Inter-Bold.woff) format("woff");
}
@font-face {
    font-family: "Inter";
    src: local("Inter"), local("InterMedium"),
        url(./fonts//Inter-Medium.woff) format("woff");
}
@font-face {
    font-family: "Inter";
    src: local("Inter"), local("InterRegular"),
        url(./fonts//Inter-Regular.woff) format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    color: #444444;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 28.83px;
    line-height: 112%;
    /* or 32px */
    margin-bottom: 16px;
    letter-spacing: -0.2px;
    /* identical to box height */
    letter-spacing: -1.5px;
}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 22.78px;
    line-height: 112%;
    /* or 26px */
    margin-bottom: 16px;
}

h3 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20.25px;
    line-height: 112%;
    /* or 23px */
}
h4 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 112%;
    /* or 20px */
}
h5 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 112%;
    /* or 18px */
}
h6 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 112%;
    /* or 13px */
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

p {
    font-family: "Inter", sans-serif;
    line-height: 125%;
    font-size: 16px;
    margin-bottom: 16px;
    max-width: 75ch;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

body::-webkit-scrollbar {
    width: 1em;
    background-color:#d5e2fa;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {

    background-color: #6495ed;
    border-radius: 10px;
}

label {
    font-family: "Inter", sans-serif;
    margin-bottom: 8px;
}

caption {
    font-family: "Inter", sans-serif;
    margin-bottom: 8px;
}

@media (max-width: 990px) {
    h1 {
        font-size: 23.51px;
        line-height: 106%;
        /* or 25px */
        margin-bottom: 20px;
        letter-spacing: -0.2px;
    }
    h2 {
        font-size: 20.65px;
        line-height: 106%;
        /* or 22px */
        margin-bottom: 14px;
    }
    h3 {
        font-size: 19.35px;
        line-height: 106%;
        /* or 21px */
    }
    h4 {
        font-size: 18.14px;
        line-height: 106%;
        /* or 19px */
    }
    h5 {
        font-size: 17px;
        line-height: 106%;
        /* or 18px */
    }
    h6 {
        font-size: 14.93px;
        line-height: 106%;
        /* or 16px */
        letter-spacing: 1.8px;
    }
    body {
        font-size: 17px;
        /*margin-bottom: 20px;*/
    }

    label {
        margin-bottom: 20px;
    }

    caption {
        margin-bottom: 14px;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
